body {
  margin: 2rem 6rem;
}

.stats {
  display: flex;
  justify-content: space-between;
  height: 600px;
}

.location__current--map {
  width: 65%;
}

.news {
  width: 30%;
  overflow-y: auto;
  height: 600px;
}

.cards {
  display: flex;
  align-items: center;
  margin: 0 0 15px 10px;
  border-radius: 10px;
  box-shadow: 0px 5px 10px;
  width: 93%;
}

.news--logo {
  height: 85px;
  margin-left: 10px;
}

.banner {
  /* height: 600px; */
  height: 70vh;  
  clip-path: polygon(0 0, 100% 0, 100% 80%, 0 100%);
  margin-bottom: 3rem;
  background: linear-gradient(to top left, rgba(57, 179, 133, 0.5), #9be15d), url('../../assets/images/weather_background.jfif');
  background-repeat: no-repeat;
  background-size: cover;
  display: flex;
}

.heading {
  margin-top: 15%;
  display: flex;
  animation: moveInLeft 2s;
  font-size: 5rem;
}

.side {
  width: 60%;
}

.highlight {
  transform: skewX(-15deg);
  background-image: linear-gradient(to bottom right, #39b385, #9be15d);
  margin: 0 10px;
}

.highlight-inner {
  display: inline-block;
  transform: skewX(15deg);
}

.tagline {
  display: flex;
  animation: moveInRight 2s;
  font-size: 2rem;

}

.composition {
  position: relative;
}

.composition:hover > .photo:not(:hover) {
  transform: scale(0.9);
}

.photo {
  box-shadow: 0 1.5rem 4rem rgba(0, 0, 0, 0.4);
  position: absolute;
  transition: all 0.2s;
  outline-offset: 1rem;
}

.photo:hover {
  outline: 1.5rem solid #55c57a;
  box-shadow: 0 2.5rem 4rem rgba(0, 0, 0, 0.5);
}

.photo-1 {
  top: 5rem;
  left: 10rem;
  z-index: 0;
}

.photo-2 {
  left: 4rem;
  top: 8rem;
  z-index: 1;
}

.photo-3 {
  left: 12rem;
  top: 14rem;
  z-index: 2;
}

.photo-1:hover,
.photo-2:hover,
.photo-3:hover {
  transform: scale(1.05);
  box-shadow: 0 2.5rem 4rem rgba(0, 0, 0, 0.5);
  z-index: 3;
}

@keyframes moveInLeft {
  0% {
    opacity: 0;
    transform: translateX(-100px);
  }
  50% {
    opacity: 0.5;
    transform: translateX(10px);
  }
  100% {
    opacity: 1;
  }
}

@keyframes moveInRight {
  0% {
    opacity: 0;
    transform: translateX(100px);
  }
  50% {
    opacity: 0.5;
    transform: translateX(-10px);
  }
  100% {
    opacity: 1;
  }
}

.back {
  text-align: center;
  font-size: 50px;
}

.graph {
  margin: 10% 0;
}

.search-container {
  display: flex;
  align-items: center;
  width: 50%;
  gap: 10px;
  margin: 20px auto 3%;
}

.search-container input {
  padding: 10px 15px;
  font-size: 16px;
  border: 2px solid #ccc;
  border-radius: 6px;
  width: 50%;
  transition: border-color 0.3s;
}

.search-container input:focus {
  border-color: #9be15d;
  outline: none;
}

.search-container button {
  padding: 10px 20px;
  font-size: 16px;
  color: white;
  background-color: #39b385;
  border: none;
  border-radius: 6px;
  cursor: pointer;
  transition: background-color 0.3s;
}

.search-container button:hover {
  background-color: #9be15d;
}
