/* * {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

body {
  font-family: sans-serif;
  margin: 0;
  padding: 0;
}

.container {
  display: flex;
  justify-content: space-between;
  align-items: center;
  flex-wrap: wrap;
  padding: 1rem 2rem;
  background-color: transparent;
}

.logo {
  height: 45px;
  width: auto;
  margin-left: 1rem;
}

.list {
  list-style: none;
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  gap: 1rem;
  margin: 1rem 0;
  padding: 0;
}

.list > li {
  font-size: 1.2rem;
  padding: 0.5rem 1rem;
  border-radius: 50px;
  transition: all 0.3s ease;
  text-align: center;
}

.list > li:hover {
  background: linear-gradient(to left, #39b385, #9be15d);
}

.nav--links {
  text-decoration: none;
  color: black;
  display: block;
  width: 100%;
  font-size: 2rem;
}

.list > li:active {
  transform: translateY(0.2rem);
}

@media (max-width: 1024px) {
  .container {
    flex-direction: column;
    align-items: center;
    gap: 1rem;
    text-align: center;
  }

  .logo {
    margin-left: 0;
  }

  .list {
    flex-direction: column;
    width: 100%;
  }

  .list > li {
    width: 100%;
    font-size: 1rem;
  }
}
 */

.container{
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  grid-column: span 2;
}
.logo{
  width: 50px;
  margin-left: 10px;
  align-self: center;
  grid-column: 1/2;
}
nav{
  grid-column: 3/4;
}
.list li a{
  font-size: 1.2em;
  padding: 10px;
  transition: all 0.5s ease;
  color: #000000;
}
.list > li {
  font-size: 1.2rem;
  padding: 0.5rem 1rem;
  border-radius: 50px;
  transition: all 0.3s ease;
  text-align: center;
  list-style: none;
}
nav ul li:hover{
  border-radius: 15em;
  background: linear-gradient(to left, #39b385, #9be15d);
}
nav a{  
  text-decoration: none;
}
.list{
  display: flex;
  justify-content: end;
}



@media screen and (min-width: 620px) {
  .list li a{
    font-size: 1.8rem;
  }
}

@media screen and (min-width: 960px) {
  .logo{
    margin-left: 15%;
  }
  .list li a{
    font-size: 1.8rem;
  }
}

@media screen and (min-width: 1200px) {
  .logo{
    margin-left: 10%;
  }
  .list li a{
    font-size: 2rem;
  }
}