.des{
    background: linear-gradient(to right, #39b385, #9be15d);
    display: inline-block;
    border-bottom-right-radius: 100%; 
    border-top-left-radius: 100%;
    margin-left: 25%;
}
.uv-form{
    text-align: center;
    height: 400px;
    width: 600px;
    padding-top: 150px;
    z-index: 1;
    background: linear-gradient(to left, #39b385, #9be15d);
    border-bottom-left-radius: 100%;
    border-top-right-radius: 100%;
}
.uv-form1{        
    margin-top: -10%;
}